body,
html {
  width: 100%;
  height: 100%;
  font-family: Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
}

/* theme changes {{{ */
.btn-primary {
  color: #fff;
  background-color: #b01d1e;
  border-color: #b01d1e;
}
.btn-primary:hover {
  color: #fff;
  background-color: #f24516;
  border-color: #ee3e0d;
}
.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ee3e0d;
  border-color: #e23a0d;
}
.bg-primary {
  background-color: #b01d1e !important;
}
.text-white-50 {
  color: rgba(255, 255, 255, 0.9) !important;
}
.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
}
.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}
/* }}} theme changes */

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #b01d1e;
}
hr.light {
  border-color: #fff;
}

.page-section {
  padding: 8rem 0;
}

#mainNav {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  font-family: Roboto, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: Roboto, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.75rem 0;
}
#mainNav .navbar-nav .nav-item .nav-link > i {
  font-size: 1.3rem;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #b01d1e;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #b01d1e !important;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #b01d1e;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #b01d1e;
  }
}

header.header {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background-image: url("header1.jpg");
  background-position: center;
  background-position-y: 99%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.header h1 {
  font-size: 2.25rem;
}

@media (min-width: 100px) {
  header.header {
    /* margin-top: 72px; */
    height: 100vh;
  }
}

@media (min-width: 992px) {
  header.header {
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
    margin-top: 0;
  }
  header.header p {
    font-size: 1.15rem;
  }
  header.header h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.header h1 {
    font-size: 3.5rem;
  }
}

#gallery .container-fluid {
  max-width: 1920px;
}

#gallery .container-fluid .portfolio-box {
  position: relative;
  display: block;
}

#gallery .container-fluid .portfolio-box .portfolio-box-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(176, 29, 30, 0.9);
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  text-align: center;
}

#gallery .container-fluid .portfolio-box .portfolio-box-caption .project-category {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

#gallery .container-fluid .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
}

#gallery .container-fluid .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

a.map-link {
  text-decoration: underline;
  text-decoration-style: dotted;
}
a.phone-link {
  color: #212529;
  text-decoration: underline;
  text-decoration-style: dotted;
}
a.phone-link:hover {
  color: #b01d1e;
}

.header1 header.header {
  background-image: url("header1.jpg");
}
.header2 header.header {
  background-image: url("header2.jpg");
  background-position-y: 58%;
}
.header3 header.header {
  background-image: url("header3.jpg");
  background-position-y: 1%;
}
.header4 header.header {
  background-image: url("header4.jpg");
  background-position-y: 99%;
}
.header5 header.header {
  background-image: url("header5.jpg");
  background-position-y: 99%;
}
@media (min-width: 100px) {
  .header4 header.header {
    background-position-x: 33%;
  }
}