<section class="page-section bg-dark text-white" id="about">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2 class="text-white mt-0">О команде</h2>
            <hr class="divider light my-4">
            <p class="text-white-50 mb-4">
            Магнитогорский детско-юношеский хоккейный центр «Степные волки» предлагает групповые и индивидуальные тренировки. Главной целью работы нашего центра является развитие физических способностей детей и достижение успехов в хоккейном спорте. Наш центр проводит учебно-тренировочные занятия по хоккею. Тренировочный процесс соответствует всем требованиям современного хоккея. С детьми работают увлеченные спортом квалифицированные тренеры-преподаватели.
            </p>
            <p class="text-white-50 mb-4">
            Наша программа включает: специализированные тренировки по технике катания, мастерство владения клюшкой и шайбой, выигрыш вбрасывания, силовая борьба, работа с пасами (удобная, неудобная прием-передача, подкидка, пас с использованием борта), индивидуальная подготовка защитников, нападающих и вратарей, устранение ошибок, вошедших в привычку, бросковые тренировки, развитие стартовой скорости и выносливости, определение игрового амплуа, а также физическую подготовку хоккеистов. Мы не только учим играть в хоккей, но и уделяем большое внимание психологической подготовке юных хоккеистов.
            </p>
        </div>
        </div>
    </div>
</section>