<section class="page-section" id="contact">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="mt-0">Давайте пообщаемся!</h2>
              <hr class="divider my-4">
              <p class="text-muted">Магнитогорский детско-юношеский хоккейный центр "Степные волки" продолжает набор будущих хоккеистов!</p>
              <div class="mb-5 m-a">
                <a class="ml-3 mr-3" title="ВКонтакте" href="https://vk.com/stepniewolkimgn" target="_blank" style="font-size: 3em; color: #4a76a8;"><i class="fab fa-vk" aria-hidden="true"></i></a>
                <a class="ml-3 mr-3" title="Instagram" href="https://www.instagram.com/stepniewolki/" target="_blank" style="font-size: 3em; color: #EE0000"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-3 ml-auto text-center pb-5">
              <p>
                  <span class="font-weight-bold">Марусов Виктор Викторович</span><br/>
                  Руководитель центра
              </p>
              <div class="pb-2"><a class="phone-link" href="tel:+79227337707"><i class="fas fa-phone"></i> +7&nbsp;(922)&nbsp;733-77-07</a></div>
              <img class="ava" src="img/vv.jpg" alt="фото">
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mr-auto text-center pb-5">
              <p>
                <span class="font-weight-bold">Марусов Илья Викторович</span><br/>
                Тренер
              </p>
              <div class="pb-2"><a class="phone-link" href="tel:+79823257772"><i class="fas fa-phone"></i> +7&nbsp;(982)&nbsp;325-77-72</a></div>
              <img class="ava" src="img/iv.jpg" alt="фото">
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mr-auto text-center pb-5">
              <p>
                <span class="font-weight-bold">Васильев Алексей Анатольевич</span><br/>
                Тренер
              </p>
              <div class="pb-2">&nbsp;</div>
              <img class="ava" src="img/aa1.jpg" alt="фото">
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 mr-auto text-center pb-5">
              <p>
                <span class="font-weight-bold">Романов Артём Алексеевич</span><br/>
                Тренер вратарей
              </p>
              <div class="pb-2">&nbsp;</div>
              <img class="ava" src="img/aa2.jpg" alt="фото">
            </div>
          </div>
          <div class="row">
            <div class="col mt-3 mr-auto text-center" style="min-height: 400px;">
                <h3 id="map">Схема проезда к МБУ ФОК «Умка» (занятия на льду) и ФОК «Юниор» (занятия в зале)</h3>
                <hr class="divider my-4">
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af9b8e41fd4cd1ed0e71934a0df3e7dfd8f726ab08c65d33d76b2d637ea4a827a&amp;source=constructor" style="width: 100%; height: 100%" frameborder="1" allowfullscreen="true"></iframe>
            </div>
          </div>
        </div>
      </section>

      <style>
        
      </style>
