<section class="page-section bg-primary text-white" id="girls">
    <div class="container text-center">
        <h2 class="mb-4">Приглашаем девушек для занятий хоккеем!</h2>
        <hr class="divider light my-4">
        <p class="pb-3">
        Если хочешь быть здоровой, ловкой и быстрой, хочешь покорить лёд и найти друзей, мы давно ждем тебя в хоккейном центре «Степные волки»!<br/>
        Нам не важен твой возраст и навыки катания на льду. Наши тренера навсегда влюбят тебя в эту игру и научат всем тонкостям ХОККЕЯ.
        </p>
        <p class="pb-3">
        Что тебя ждёт:<br/>
        <div style="text-align: left" class="row justify-content-center">
            <ul>
                <li>условия, доступные для всех</li>
                <li>команда тренеров, у которых хочется учиться</li>
                <li>тренировки на льду и в зале</li>
                <li>помощь с формой на начальном этапе</li>
                <li>участие в турнирах и товарищеских матчах</li>
                <li>первая тренировка бесплатно!</li>
            </ul>
        </div>
        </p>
        <p class="pb-3">
        Интересно? Звони: <a class="text-white" href="tel:+79227337707">+7&nbsp;922&nbsp;733-77-07</a> Виктор&nbsp;Викторович
        </p>
    </div>
</section>