<header class="header">

  <div class="container">
      <div class="row justify-content-end text-white" style="text-align: left; padding: 10px; font-size: 1.2em;">
          Приглашаем девушек для занятий ХОККЕЕМ<br/>
          Если хочешь быть здоровой, ловкой и быстрой,<br/>
          хочешь покорить лёд и найти друзей,<br/>
          мы давно ждем тебя в хоккейном центре «Степные волки»!<br/>
          Нам не важен твой возраст и навыки катания на льду.<br/>
          Наши тренера навсегда влюбят тебя в эту игру<br/>
          и научат всем тонкостям ХОККЕЯ.<br/>
          <br/>
          Что тебя ждёт:<br/>
          условия, доступные для всех<br/>
          команда тренеров, у которых хочется учиться<br/>
          тренировки на льду и в зале<br/>
          помощь в формой на начальном этапе<br/>
          участие в турнирах и товарищеских матчах<br/>
          <br/>
          Первая тренировка бесплатно!<br/>
          <br/>
          Интересно? Звони: +7&nbsp;922&nbsp;733-77-07<br/>
          Виктор&nbsp;Викторович
      </div>
  </div>

</header>

<style>
header.header {
  background-image: url("bg/girls.jpg");
}
</style>