<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index.html">Степные волки</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="index.html#contact">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="ВКонтакте" href="https://vk.com/stepniewolkimgn" target="_blank" style="color: #4a76a8;"><i class="fab fa-vk" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Instagram" href="https://www.instagram.com/stepniewolki/" target="_blank" style="color: #EE0000"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>