<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Магнитогорский детско-юношеский хоккейный центр «Степные волки»">
    <!-- <meta name="author" content="{{site.author}}" /> -->

    <meta name="yandex-verification" content="8ab3db72ffdac743" />

    <!--
    <meta name="theme-color" content="#151515">
    <meta name="msapplication-navbutton-color" content="#151515">
    <meta name="apple-mobile-web-app-status-bar-style" content="#151515">
    -->

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

    <meta name="twitter:image:src" content="http://xn----dtbharlgmmfum4j.xn--p1ai/logo_text.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Степные волки" />
    <meta name="twitter:description" content="Магнитогорский детско-юношеский хоккейный центр «Степные волки»" />
    <meta property="og:image" content="http://xn----dtbharlgmmfum4j.xn--p1ai/logo_text.png" />
    <meta property="og:site_name" content="Степные волки" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Степные волки" />
    <meta property="og:url" content="http://степные-волки.рф" />
    <meta property="og:description" content="Магнитогорский детско-юношеский хоккейный центр «Степные волки»" />
    <meta property="og:locale" content="ru_RU" />

    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="style.css?v=5" rel="stylesheet">

    <link rel="canonical" href="http://степные-волки.рф" />

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</head>

<body id="page-top">

    {{ content }}
    
    {% include js.html %}

</body>

</html>